<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?ejgeneralcontractors.com$
RewriteCond %{REQUEST_URI} !^/Finalwebsite/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Finalwebsite/$1
RewriteCond %{HTTP_HOST} ^(www.)?ejgeneralcontractors.com$
RewriteRule ^(/)?$ Finalwebsite/index.php [L] 
</IfModule>