

.spacingThings
{
margin-top: 50px !important;
margin-bottom: 50px !important;
margin-left: 30px !important;
padding-top: 80px !important;
padding-bottom: 50px !important;
width: 45%;
height: 50%px ;
background-color: rgba(244,238,195,0.8) !important;



}
.relatively {
    
	
    
}
.relatively2
{
	padding-left: 10px;
}


.wpb_animate_when_almost_visible 
{ 
opacity: 1;
}


.parag
{
	padding: 20px 40px 40px 40px;
	
	font-family: Sans-Serif;
	font-weight: 100;
}
.fontSize p
{
	font-size: 18px;
	
}

