@media only screen and (max-width: 500px) 
	{
	.blockCentered
	{
		 
	}
    .subFooter
	{
	    margin: auto; 
		padding: 10px;
	}
	.footerCenter
	{
		
	}
	.centerText
	{
		margin-left: auto;
    margin-right: auto;
    width: 70%;
	
	}
		.footerIcon
   { 

    padding-left:30%;
	/* display:block !important; */
	
   }
   .wordBreak
		{
			word-break: break-all;
			
		}
	
	.footerCol3
{
	
	padding-top: 10%;
	text-align: center;
    /* border: 3px solid green; */
}

.footer1 {
	
	 
 
  background-color: #111111;
  margin:0px;
  /* padding-top: 50%; */
}

.copy-right
{   
    padding: 10px;
   
	font-family: 'ABeeZee', sans-serif;
	font-size: 14px;
	color: #a8a8a8;
	/* border: 1px solid green; */
}
	}
	
	.icons
	{
		
	float: left;
    display: inline;
    margin-left: 9px;
    margin-bottom: 5px;
    text-align: center;
    /* border: solid 1px #212121; */
	padding: 0px;
	
	}
	
  .facebooki {
		
    color: #9e9e9e !important;

display: block !important;
display: inline-block !important;

margin: 0 !important;
text-align: center !important;
font-size: 200% !important;
width: 40px;
Height: 40px;

	
}
 .facebooki:hover {
    background: #3b5998;
	color: #ffffff !important;
    }
.mailIcon
{
	
	border: solid 1px #212121;	
	/* margin-bottom: 10px; */
	 width: 40px !important;
    height: 40px !important;
	display: inline-block;

	
	/* margin: auto; */
}

.fb
{
	display: inline-block;
    width: 40px !important;
height: 40px !important;
border: solid 1px #212121;	
padding-top: 0px !important;
}

.wraper{
	/* border: solid 1px #212121;	 */
	width: 42px;
	height: 42px;
	/* display: inline-block; */
    	
}

.footer1 {
	
	 position: relative;
 height: 200px;
  background-color: #111111;
  margin:0px;
}
.copy-right
{   
    padding-top: 0px;
   vertical-align: left;
	font-family: 'ABeeZee', sans-serif;
	font-size: 14px;
	color: #a8a8a8;
}

.alignFooterIcon
{   display: inline-block;
	 padding-top: 30px;
	/* height: 100px; */
	/* margin-top: 34px; */
	vertical-align: right;
	float: right;
	
}
.facebookIcon
{
	display: inline-block;
	
	/* text-align: bottom; */
	font-size: 25px;
	/* margin-left: 80%; */
	/* padding-right: 0px; */
	
}

.footerCol3
{
	height: 100px;
	padding-top: 30px;
	
}
.globe
{
  display: inline-block;
}